.navbar {
    padding-top: 3em;
    width: 300px;
    height: 100%;
    float: left;
    position: fixed;
    overflow-y: scroll;
    z-index: 1001;
    background: #f2f3f7;
}

.pageDetail {
    width: calc(100% - 300px);
    min-height: 1000px;
    float: right;
}