
.navbarMenu {
    display: block;
    width: 100%;
    position: relative;
    min-height: 55px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    font-family: "Quicksand", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.7);
}

.NavbarMainMenu {
    display: block !important;
}

.NavbarMainMenu ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

.NavbarMainMenu ul li {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.NavbarMainMenu ul li a {
    text-decoration: none;
    position: relative;
    padding: 10px 0;
    font-family: "Quicksand", Arial, sans-serif;
}

/* .NavbarMainMenu ul li.active a {
    color: #2c98f0;
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
} */

    /* .NavbarMainMenu ul li a::after {
        content: "";
        position: absolute;
        bottom: 7px;
        left: 0;
        right: 0;
        background-color: #2c98f0;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    } */